*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
Freddie/Freddie/bin/
Freddie/bin/
Freddie/Freddie/obj/
Freddie/obj/
Freddie/Content/obj/
!Freddie/x64
!Freddie/x86
!Freddie/Libraries
